<div id="<%= dom_id(message) %>_messages">
  <% if message.user? %>
    <div class="flex flex-row">
      <div class="bg-sky-400 rounded-lg m-8 text-white p-4">
        <%= message.content %>
      </div>
        <button class="bg-sky-400 rounded-lg text-white">知りたい!</button>
    </div>
  <% else %>
    <div class="flex flex-row">
      <div class="bg-gray-200 rounded-lg m-8 p-4">
        <%= message.content %>
      </div>
      <button class="bg-sky-400 rounded-lg text-white">知りたい!</button>
    </div>
  <% end %>
</div>